In [1]:
import pandas as pd
from sqlalchemy import create_engine

# this allows for full display without using print statements
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Extract CSVs into DataFrames

In [2]:
# import the imdb data
imdb_file = "IMDb movies.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [3]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81273 entries, 0 to 81272
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          81273 non-null  object
 1   title                  81273 non-null  object
 2   original_title         81273 non-null  object
 3   year                   81273 non-null  int64
 4   date_published         81273 non-null  object
 5   genre                  81273 non-null  object
 6   duration               81273 non-null  int64
 7   country                81234 non-null  object
 8   language               80518 non-null  object
 9   director               81200 non-null  object
 10  writer                 79780 non-null  object
 11  production_company     76948 non-null  object
 12  actors                 81207 non-null  object
 13  description            78843 non-null  object
 14  avg_vote               81273 non-null  float64
 15  votes                  81273 non-null  int64
 16  budget                 22804 non-null  object
 17  usa_gross_income       15094 non-null  object
 18  worlwide_gross_income  29892 non-null  object
 19  metascore              12722 non-null  float64
 20  reviews_from_users     74196 non-null  float64
 21  reviews_from_critics   70286 non-null  float64
dtypes: float64(4), int64(3), object(15)
memory usage: 13.6+ MB

In [5]:
# import the netflix data
netflix_file = "netflix_titles.csv"
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()
netflix_df.info()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [57]:
#split the netflix data intp movies and TV shows
netflix_movies_df = netflix_df.loc[netflix_df['type']=='Movie',:]
netflix_movies_df.info()
netflix_TV_df = netflix_df.loc[netflix_df['type']=='TV Show']
netflix_TV_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4265 entries, 0 to 6231
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       4265 non-null   int64
 1   type          4265 non-null   object
 2   title         4265 non-null   object
 3   director      4137 non-null   object
 4   cast          3905 non-null   object
 5   country       4070 non-null   object
 6   date_added    4264 non-null   object
 7   release_year  4265 non-null   int64
 8   rating        4257 non-null   object
 9   duration      4265 non-null   object
 10  listed_in     4265 non-null   object
 11  description   4265 non-null   object
dtypes: int64(2), object(10)
memory usage: 433.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1969 entries, 2 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1969 non-null   int64
 1   type          1969 non-null   object
 2   title         1969 non-null   object
 3   director      128 non-null    object
 4   cast          1759 non-null   object
 5   country       1688 non-null   object
 6   date_added    1959 non-null   object
 7   release_year  1969 non-null   int64
 8   rating        1967 non-null   object
 9   duration      1969 non-null   object
 10  listed_in     1969 non-null   object
 11  description   1969 non-null   object
dtypes: int64(2), object(10)
memory usage: 200.0+ KB

In [58]:
#check for missing directors in the data
bool_series = pd.isnull(netflix_movies_df["director"])  
print (f"There are {len(netflix_movies_df[bool_series])} movies with no director information") 
bool_series = pd.isnull(netflix_TV_df["director"])  
print (f"There are {len(netflix_TV_df[bool_series])} TV Shows with no director information")

There are 128 movies with no director information
There are 1841 TV Shows with no director information

In [59]:
`

SyntaxError: invalid syntax (<ipython-input-59-f6460d7d9d2b>, line 1)

In [67]:
# merge the two data sets
#merging on title produces mismatches between the data, so merge on title and director

combined_movie_df = pd.merge(netflix_movies_df, imdb_df, left_on=['title','director'], 
                    right_on=['title','director'], suffixes=('_net', '_imdb') )
type(combined_movie_df)

pandas.core.frame.DataFrame

In [68]:
#check for mismatchews between the two data sets

combined_movie_df["title"].value_counts()

The Silence                       3
The Outsider                      2
Don                               2
Blood Money                       2
Drive                             2
                                 ..
The Journey Is the Destination    1
Hop                               1
Nasha                             1
Satyagraha                        1
20th Century Women                1
Name: title, Length: 1785, dtype: int64

In [69]:
# there are 15 entries that are duplicated (becaise imdb has ni director information
pd.options.display.max_rows = 1000 #this allows for full printing
duplicateDFRow = combined_movie_df[combined_movie_df["title"].duplicated()]
print(duplicateDFRow.T)

                                                                    198   \
show_id                                                         81021082
type                                                               Movie
title                                                         Kuntilanak
director                                                 Rizal Mantovani
cast                   Sandrinna M Skornicki, Aurélie Moeremans, Fero...
country_net                                                    Indonesia
date_added                                              October 12, 2018
release_year                                                        2018
rating                                                             TV-14
duration_net                                                     106 min
listed_in                            Horror Movies, International Movies
description_net        Five youngsters discover that an antique mirro...
imdb_title_id                                                  tt8512746
original_title                                                Kuntilanak
year                                                                2018
date_published                                                2018-06-15
genre                                                     Comedy, Horror
duration_imdb                                                        105
country_imdb                                                   Indonesia
language                                                      Indonesian
writer                                                        Alim Sudio
production_company                                          MVP Pictures
actors                 Sandrinna Michelle, Aurélie Moeremans, Fero Wa...
description_imdb       A group of kids agree to explore an abandoned ...
avg_vote                                                             4.6
votes                                                                398
budget                                                               NaN
usa_gross_income                                                     NaN
worlwide_gross_income                                                NaN
metascore                                                            NaN
reviews_from_users                                                    12
reviews_from_critics                                                  11

                                                                    388   \
show_id                                                         81189912
type                                                               Movie
title                                                              Drive
director                                                Tarun Mansukhani
cast                   Jacqueline Fernandez, Sushant Singh Rajput, Bo...
country_net                                                        India
date_added                                              November 1, 2019
release_year                                                        2019
rating                                                             TV-14
duration_net                                                     119 min
listed_in                       Action & Adventure, International Movies
description_net        A notorious thief allies with a street racer f...
imdb_title_id                                                  tt6593054
original_title                                                     Drive
year                                                                2019
date_published                                                2019-11-01
genre                                                   Action, Thriller
duration_imdb                                                        147
country_imdb                                                       India
language                                                           Hindi
writer                                           Mast Ali, Hossein Amini
production_company                                    Dharma Productions
actors                 Sushant Singh Rajput, Jacqueline Fernandez, Bo...
description_imdb       A stunt driver gets attracted to his neighbour...
avg_vote                                                             2.3
votes                                                               2336
budget                                                      INR 75000000
usa_gross_income                                                     NaN
worlwide_gross_income                                                NaN
metascore                                                            NaN
reviews_from_users                                                   182
reviews_from_critics                                                   9

                                                                    602   \
show_id                                                         80152434
type                                                               Movie
title                                                       The Outsider
director                                                Martin Zandvliet
cast                   Jared Leto, Tadanobu Asano, Kippei Shiina, Shi...
country_net                                                United States
date_added                                                 March 9, 2018
release_year                                                        2018
rating                                                             TV-MA
duration_net                                                     121 min
listed_in                                              Dramas, Thrillers
description_net        An American soldier imprisoned in postwar Japa...
imdb_title_id                                                  tt2011311
original_title                                              The Outsider
year                                                                2018
date_published                                                2018-03-09
genre                                             Crime, Drama, Thriller
duration_imdb                                                        120
country_imdb                                                         USA
language                                               English, Japanese
writer                                                    Andrew Baldwin
production_company                                  Linson Entertainment
actors                 Jared Leto, Tadanobu Asano, Kippei Shîna, Shio...
description_imdb       An epic set in post-WWII Japan and centered on...
avg_vote                                                             6.3
votes                                                              17255
budget                                                               NaN
usa_gross_income                                                     NaN
worlwide_gross_income                                             $ 1869
metascore                                                             30
reviews_from_users                                                   175
reviews_from_critics                                                  46

                                                                    668   \
show_id                                                         81072516
type                                                               Movie
title                                                             Sarkar
director                                                 A.R. Murugadoss
cast                   Vijay, Varalakshmi Sarathkumar, Keerthi Suresh...
country_net                                                        India
date_added                                                 March 2, 2019
release_year                                                        2018
rating                                                             TV-MA
duration_net                                                     162 min
listed_in               Action & Adventure, Dramas, International Movies
description_net        A ruthless businessman’s mission to expose ele...
imdb_title_id                                                  tt7715202
original_title                                                    Sarkar
year                                                                2018
date_published                                                2018-11-06
genre                                                      Action, Drama
duration_imdb                                                        163
country_imdb                                                       India
language                                                   Tamil, Telugu
writer                                        Jayamohan, A.R. Murugadoss
production_company                                          Sun Pictures
actors                 Joseph Vijay, Keerthi Suresh, Varalaxmi Sarath...
description_imdb       An NRI businessman learns his vote has been ca...
avg_vote                                                             6.9
votes                                                              11503
budget                                                               NaN
usa_gross_income                                                     NaN
worlwide_gross_income                                          $ 2278361
metascore                                                            NaN
reviews_from_users                                                   376
reviews_from_critics                                                  13

                                                                    682   \
show_id                                                         80204923
type                                                               Movie
title                                                              Benji
director                                                    Brandon Camp
cast                   Gabriel Bateman, Darby Camp, Kiele Sanchez, Je...
country_net                          United Arab Emirates, United States
date_added                                                March 16, 2018
release_year                                                        2018
rating                                                             TV-PG
duration_net                                                      87 min
listed_in                               Children & Family Movies, Dramas
description_net        A determined dog comes to the rescue and helps...
imdb_title_id                                                  tt1799516
original_title                                                     Benji
year                                                                2018
date_published                                                2018-03-16
genre                                               Crime, Drama, Family
duration_imdb                                                         87
country_imdb                                   United Arab Emirates, USA
language                                                         English
writer                                            Brandon Camp, Joe Camp
production_company                                 Blumhouse Productions
actors                 Gabriel Bateman, Darby Camp, Kiele Sanchez, Gr...
description_imdb       Two school kids strike up a friendship with an...
avg_vote                                                             6.4
votes                                                               3044
budget                                                         $ 6000000
usa_gross_income                                                     NaN
worlwide_gross_income                                           $ 585333
metascore                                                             53
reviews_from_users                                                    42
reviews_from_critics                                                  14

                                                                    777   \
show_id                                                         80238292
type                                                               Movie
title                                                        The Silence
director                                                  Gajendra Ahire
cast                   Raghuvir Yadav, Nagraj Manjule, Anjali Patil, ...
country_net                                                        India
date_added                                                 March 1, 2018
release_year                                                        2015
rating                                                             TV-MA
duration_net                                                      91 min
listed_in                                   Dramas, International Movies
description_net        After encountering a scene of sexual violence,...
imdb_title_id                                                  tt4603640
original_title                                               The Silence
year                                                                2015
date_published                                                2017-10-06
genre                                                              Drama
duration_imdb                                                         91
country_imdb                                                       India
language                                                  Hindi, Marathi
writer                                                               NaN
production_company                                             SMR Films
actors                 Mugdha Chaphekar, Mihiresh Joshi, Kadambari Ka...
description_imdb       A young lady witnesses a crime in Mumbai which...
avg_vote                                                             7.3
votes                                                                217
budget                                                               NaN
usa_gross_income                                                     NaN
worlwide_gross_income                                                NaN
metascore                                                            NaN
reviews_from_users                                                     3
reviews_from_critics                                                   2

                                                                    1112  \
show_id                                                         80245041
type                                                               Movie
title                                                               Solo
director                                                     Hugo Stuven
cast                           Alain Hernández, Aura Garrido, Ben Temple
country_net                                                        Spain
date_added                                              January 11, 2019
release_year                                                        2018
rating                                                             TV-MA
duration_net                                                      91 min
listed_in               Dramas, Independent Movies, International Movies
description_net        In a remote area of the Canary Islands, a surf...
imdb_title_id                                                  tt6699860
original_title                                                      Solo
year                                                                2018
date_published                                                2018-08-03
genre                                          Adventure, Drama, Romance
duration_imdb                                                         91
country_imdb                                                       Spain
language                                                         Spanish
writer                                     Santiago Lallana, Hugo Stuven
production_company                                   Fargo Entertainment
actors                 Alain Hernández, Aura Garrido, Ben Temple, Let...
description_imdb       After falling by a cliff on a desert beach, a ...
avg_vote                                                             4.9
votes                                                               1779
budget                                                       EUR 2900000
usa_gross_income                                                     NaN
worlwide_gross_income                                                NaN
metascore                                                            NaN
reviews_from_users                                                    18
reviews_from_critics                                                  12

                                                                    1259  \
show_id                                                         80038446
type                                                               Movie
title                                                         The Lovers
director                                                    Roland Joffé
cast                   Josh Hartnett, Bipasha Basu, Tamsin Egerton, J...
country_net                                    Belgium, India, Australia
date_added                                              February 5, 2017
release_year                                                        2015
rating                                                                 R
duration_net                                                     109 min
listed_in                 Action & Adventure, Dramas, Independent Movies
description_net        A magical ring holds the key to life, death an...
imdb_title_id                                                  tt1321869
original_title                                                The Lovers
year                                                                2013
date_published                                                2015-02-13
genre                                         Action, Adventure, Romance
duration_imdb                                                        109
country_imdb                                   Belgium, India, Australia
language                                                  English, Hindi
writer                                        Ajey Jhankar, Roland Joffé
production_company                                                Corsan
actors                 Josh Hartnett, Bipasha Basu, Tamsin Egerton, J...
description_imdb       An epic, sweeping and riveting tale of an impo...
avg_vote                                                             4.5
votes                                                               2923
budget                                                        $ 50000000
usa_gross_income                                                     NaN
worlwide_gross_income                                            $ 66428
metascore                                                             19
reviews_from_users                                                    25
reviews_from_critics                                                  10

                                                                    1279  \
show_id                                                         80214583
type                                                               Movie
title                                                People You May Know
director                                                 Sherwin Shilati
cast                   Nick Thune, Halston Sage, Kaily Smith Westbroo...
country_net                                                United States
date_added                                             February 26, 2018
release_year                                                        2017

In [70]:
#We can drop the duplivated items or try to save some data

combined_movie_df = combined_movie_df.drop_duplicates(subset = ["title"])

combined_movie_df

,show_id,type,title,director,cast,country_net,date_added,release_year,rating,duration_net,...,actors,description_imdb,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,...,"Jennifer Cameron, Brian Dobson, Michael Dobson...",An ancient Chinese artifact has been stolen by...,3.2,185,NaN,NaN,$ 638351,NaN,11.0,4.0
1,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,...,"Sam Spruell, Michael Fox, Diarmaid Murtagh, Fr...",Discovering a stash of cash in their dead tena...,5.5,14655,NaN,NaN,$ 1857574,42.0,48.0,57.0
2,70299204,Movie,Kidnapping Mr. Heineken,Daniel Alfredson,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","Netherlands, Belgium, United Kingdom, United S...","September 8, 2017",2015,R,95 min,...,"Jim Sturgess, Sam Worthington, Ryan Kwanten, A...","The inside story of the planning, execution, r...",6.1,18168,NaN,NaN,$ 3184017,33.0,37.0,94.0
3,80057969,Movie,Love,Gaspar Noé,"Karl Glusman, Klara Kristin, Aomi Muyock, Ugo ...","France, Belgium","September 8, 2017",2015,NR,135 min,...,"Aomi Muyock, Karl Glusman, Klara Kristin, Ugo ...",Murphy is an American living in Paris who ente...,6.1,39385,$ 3000000,$ 249083,$ 861057,51.0,106.0,198.0
4,80060297,Movie,Manhattan Romance,Tom O'Brien,"Tom O'Brien, Katherine Waterston, Caitlin Fitz...",United States,"September 8, 2017",2014,TV-14,98 min,...,"Arnold C. Baker II, Jessie Barr, Tommy Burke, ...","Danny, a commercial editor and documentary fil...",5.5,1082,NaN,NaN,NaN,NaN,9.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,80115101,Movie,Deuces,Jamal Hill,"Larenz Tate, Meagan Good, Lance Gross, Antoniq...",United States,"April 1, 2017",2016,TV-MA,88 min,...,"Larenz Tate, Meagan Good, Rotimi, Rick Gonzale...",An undercover agent infiltrates a crime ring r...,5.9,790,$ 3000000,NaN,NaN,NaN,9.0,NaN
1795,80081955,Movie,Five Nights in Maine,Maris Curran,"David Oyelowo, Dianne Wiest, Rosie Perez, Teyo...",United States,"April 1, 2017",2015,TV-14,83 min,...,"David Oyelowo, Hani Furstenberg, Neal Lerner, ...","A young African American man, reeling from the...",4.5,617,NaN,$ 15587,$ 15587,45.0,10.0,14.0
1796,70302835,Movie,Killa,Avinash Arun,"Amruta Subhash, Archit Deodhar, Parth Bhalerao...",India,"April 1, 2017",2014,TV-14,107 min,...,"Amruta Subhash, Archit Deodhar, Parth Bhalerao...",A 11-year-old Indian boy who has just lost his...,8.0,1170,NaN,NaN,NaN,NaN,12.0,14.0
1797,80125512,Movie,Lavender,Ed Gass-Donnelly,"Abbie Cornish, Diego Klattenhoff, Justin Long,...","Canada, United States","April 1, 2017",2016,NR,93 min,...,"Abbie Cornish, Dermot Mulroney, Justin Long, L...","After discovering old fractures in her skull, ...",5.3,5083,NaN,NaN,NaN,46.0,54.0,24.0
1798,80085438,Movie,Frank and Cindy,G.J. Echternkamp,NaN,United States,"April 1, 2016",2007,TV-MA,70 min,...,"Rene Russo, Oliver Platt, Johnny Simmons, Jane...",G.J. Echternkamp tells the story of his relati...,6.1,593,NaN,NaN,NaN,NaN,4.0,3.0

AttributeError: 'DataFrame' object has no attribute 'to_dataFrame'

In [72]:
#There are very few tv shows with matching data
combined_TV_df = pd.merge(netflix_TV_df, imdb_df, left_on=['title'], 
                    right_on=['title'], suffixes=('_net', '_imdb') )

print (f" There are {len(combined_TV_df)} matching TV shows that have director data")

 There are 409 Tv shows that have director data

In [74]:
combined_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1785 entries, 0 to 1798
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   show_id                1785 non-null   int64
 1   type                   1785 non-null   object
 2   title                  1785 non-null   object
 3   director               1785 non-null   object
 4   cast                   1783 non-null   object
 5   country_net            1781 non-null   object
 6   date_added             1785 non-null   object
 7   release_year           1785 non-null   int64
 8   rating                 1784 non-null   object
 9   duration_net           1785 non-null   object
 10  listed_in              1785 non-null   object
 11  description_net        1785 non-null   object
 12  imdb_title_id          1785 non-null   object
 13  original_title         1785 non-null   object
 14  year                   1785 non-null   int64
 15  date_published         1785 non-null   object
 16  genre                  1785 non-null   object
 17  duration_imdb          1785 non-null   int64
 18  country_imdb           1784 non-null   object
 19  language               1771 non-null   object
 20  writer                 1760 non-null   object
 21  production_company     1738 non-null   object
 22  actors                 1785 non-null   object
 23  description_imdb       1785 non-null   object
 24  avg_vote               1785 non-null   float64
 25  votes                  1785 non-null   int64
 26  budget                 738 non-null    object
 27  usa_gross_income       765 non-null    object
 28  worlwide_gross_income  1137 non-null   object
 29  metascore              868 non-null    float64
 30  reviews_from_users     1766 non-null   float64
 31  reviews_from_critics   1694 non-null   float64
dtypes: float64(4), int64(5), object(23)
memory usage: 460.2+ KB

In [75]:
#based on Ahmad's advice we can cut the columns that are missing a lot of information
#27 budget # 28 usa_gross_income #29 worlwide_gross_income #30 object metascore             
combined_movie_df = combined_movie_df[['show_id', 'type', 'title',
    'cast', 'country_net', 'date_added', 'release_year', 'rating', 'duration_net',
'listed_in', 'description_net', 'imdb_title_id', 'original_title', 'year',
'date_published', 'genre', 'duration_imdb', 'country_imdb', 'language',
'writer', 'production_company', 'actors', 'description_imdb', 'avg_vote',
'votes']].copy()
combined_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1785 entries, 0 to 1798
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   show_id             1785 non-null   int64
 1   type                1785 non-null   object
 2   title               1785 non-null   object
 3   cast                1783 non-null   object
 4   country_net         1781 non-null   object
 5   date_added          1785 non-null   object
 6   release_year        1785 non-null   int64
 7   rating              1784 non-null   object
 8   duration_net        1785 non-null   object
 9   listed_in           1785 non-null   object
 10  description_net     1785 non-null   object
 11  imdb_title_id       1785 non-null   object
 12  original_title      1785 non-null   object
 13  year                1785 non-null   int64
 14  date_published      1785 non-null   object
 15  genre               1785 non-null   object
 16  duration_imdb       1785 non-null   int64
 17  country_imdb        1784 non-null   object
 18  language            1771 non-null   object
 19  writer              1760 non-null   object
 20  production_company  1738 non-null   object
 21  actors              1785 non-null   object
 22  description_imdb    1785 non-null   object
 23  avg_vote            1785 non-null   float64
 24  votes               1785 non-null   int64
dtypes: float64(1), int64(5), object(19)
memory usage: 362.6+ KB

In [ ]:
# From here our problems are:
# Should we cut some more coumns?
# There are some duplicated columns  (cast/actors, country, release year/year, duration, description)
# There is some missing data(most of these can be fixed by combiining data from the duplicated columns)
# there are some incorrect data types (release year/year, duration_net)

In [77]:
# to find null values
bool_series = pd.isnull(combined_movie_df["rating"])  
combined_movie_df[bool_series].T

                                                                  782
show_id                                                      80144119
type                                                            Movie
title                                            My Honor Was Loyalty
cast                Leone Frisa, Paolo Vaccarino, Francesco Miglio...
country_net                                                     Italy
date_added                                              March 1, 2017
release_year                                                     2015
rating                                                            NaN
duration_net                                                  115 min
listed_in                                                      Dramas
description_net     Amid the chaos and horror of World War II, a c...
imdb_title_id                                               tt4544696
original_title                                   My Honor Was Loyalty
year                                                             2016
date_published                                             2017-03-01
genre                                                      Drama, War
duration_imdb                                                      95
country_imdb                                                    Italy
language                                              German, English
writer                                                Alessandro Pepe
production_company                                                NaN
actors              Leone Frisa, Francesco Migliore, Paolo Vaccari...
description_imdb    Untersharführer Ludwig Herckel (Leone Frisa), ...
avg_vote                                                          4.4
votes                                                             893

In [ ]:
# if we need to find additional data we can use this package
# pip install imdbpy

In [ ]:
# This is the code we used in class for cleaning data and exporting it

### Transform premise DataFrame

In [ ]:
new_premise_df = premise_df[['Premises Name', 'County ID Code']].copy()
new_premise_df.head()

In [ ]:
new_premise_df.rename(columns = {'Premises Name':'premise_name'}, inplace = True)

In [ ]:
new_premise_df.rename(columns = {'County ID Code':'county_id'}, inplace = True) 
new_premise_df.duplicated()
new_premise_df.drop_duplicates(['premise_name'])

### Transform county DataFrame

In [ ]:
county_df.head()
new_county_df = county_df[['County Name (Licensee)', 'County ID Code', 'License Count']].copy()
new_county_df.count()

In [ ]:
new_county_df.rename(columns = {'License Count':'license_count',
                               "County Name (Licensee)": "county_name",
                               "County ID Code": "county_id"}, inplace = True) 

# A `county` table that contains the columns `id`, `county_name`, 
#     `license_count` and `county_id`.
new_county_df

### Create database connection

In [ ]:

rds_connection_string = "postgres:1117@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
new_county_df.to_sql(name='county', con=engine, if_exists='append', index=False)

In [ ]:
new_premise_df.to_sql(name='premise', con=engine, if_exists='append', index=False)